header{
    background-color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 1rem;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.homegif{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #ff6700;
    color: white;
    padding: 1.5rem;
}
.hometext{
    color: white;
    padding: 1rem;
}
body{
    font-family:'Nunito Sans', sans-serif;
    background-color: #565656;
    align-items: center;
    padding: 2rem;
    margin: 0;
    }
nav{
    padding-top: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav>a{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 136, 0);
    text-decoration: none;
    padding: 2rem;
}
.about{
    background-color: #565656;
    font-family: 'Nunito Sans', sans-serif;
    color: whitesmoke;
}
.about>h2{
    font-size: x-large;
}
h2{
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    font-size:xx-large;
    color: whitesmoke;
}
.contact{
    background-color: #565656;
    font-family: 'Nunito Sans', sans-serif;
    font-size:large;
    color: whitesmoke;
}
a:link{
    color: #ff6700;
}
a:visited{
    color: red;
}
.portfolio{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #565656;
    color: whitesmoke;
    font-size: xx-large;
}
.portfolioimage{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #ff6700;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media (min-width:294px)

